@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500');
:root {
    --font-base: "Bai Jamjuree";
    --border-radius: 1.2rem;
    --border-radius-lg: 2.4rem;
    --color-bg: hsl(129, 41%, 16%); 
    --color-bg2: hsl(129, 41%, 24%); 
    --color-brand: hsl(31, 85%, 62%); 
    --color-brand2: hsl(31, 85%, 52%); 
    --sidebar-hsl: 129, 41%, 10%; 
    --color-body: hsl(129, 41%, 80%); 
    --color-heading: hsl (129, 41%, 95%); 
}

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* % will fix the scale up and down of the font size */
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    
    color: var(--color-body);
    line-height: 1.5;
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     margin-bottom: 0.8rem;
     line-height: 1.2;
     color: rgb(235, 190, 56);
     text-transform: uppercase;
}

#box {
    background-color: rgba(6, 6, 6, 0.5);
    color: #a5e0ed;
    border-radius: 10px;
    width: 65rem;
   
}


.heading-1 {
     font-size: clamp(4.4rem,6vw,6.4rem); /*use clamp(min_val,preferred_val,max_val) function for responsive text heading.*/
}
.heading-2 {
    font-size: clamp(3.2rem,4vw, 4.4rem); /*use clamp(min_val,preferred_val,max_val) function for responsive text heading.*/
}
.heading-3 {
    font-size: 1.8rem;
}

.text-brand {
    color: var(--color-brand);
}

a {
    text-decoration: none;
    color: var(--color-brand);
    transition: all 0.4s ease;
    font-size: 500;
}

a:hover {
    color: var(--color-brand2);
}

img {
    max-width: 100%;
    width: 100%;
    display: inline-block; /*for responsive image*/
}

section.full-height {
    min-height: 100vh;
    display: grid;
    align-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.533); /* this is to divide the page/sections with a line*/
    padding: 8rem 0;
}

p {
    margin-bottom: 1.6rem;
}

.container { /*it creates space between the sidebar and the content on the main*/
    max-width: 114rem;
    padding: 0 5rem;
}

@media screen and (max-width:768px){
    container {
        padding: 0 2.4rem; 
    }
    
}

.btn {
    padding: 1.4rem 2.4rem;
    background-color: var(--color-brand);
    color: var(--color-bg2);
    text-transform: uppercase;
    font-size: 500;
    border-radius: var(--border-radius);
    border: transparent;
    font-size: 1.6rem;
    font-family: var(--font-base);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-brand2);
    color: var(--color-bg2);
}

.social-links {
    display: flex;
    gap: 0.8rem;
}

.social-links a {
    width: 14rem;
    height: 4.4rem;
    display: grid;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-body);
    text-align: center;
    border-radius: 10rem;
    font-size: 2.4rem;
}

.social-links a:hover {
    background-color: var(--color-brand);
}


/*Side bar*/

#sidebar {
    min-height: 100vh;
    width: 35rem;
    position: fixed; /*when u scroll the page it will not move*/
    top: 0;
    left: 0;
    background: linear-gradient(hsla(var(--sidebar-hsl),0.6), hsla(var(--sidebar-hsl),0.9)), url(../img/sidebar-01.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: center;
    text-align: center;
    z-index: 999;
    transition: all 0.4s ease; /*when window is resized to smaller then it has to hide the sidebar*/
}

#sidebar .person {
   margin-bottom: 2.4rem; /*2.4rem = 24px*/
}

#sidebar .person img{
    border-radius: var(--border-radius-lg);
    width: 17rem;
    box-shadow: 0 0 0 0.4rem var(--color-brand);
    margin-bottom: 1.2rem;
}

#sidebar ul {
    text-transform: uppercase;
    display: grid;
    gap: 1.2rem; /*it gave the gap between the sidebar text/contents*/
}

#sidebar ul li a{
    color: var(--color-heading);
}
#sidebar ul li a.is-active {
    color: var(--color-brand);
}
#sidebar ul li a:hover {
    color: var(--color-brand);
}

.burger{
    width: 6.4rem;
    height: 6.4rem;
    background-color: var(--color-brand);
    border-radius: 10rem;
    position: fixed;
    right: 2.4rem;
    top: 2.4rem;
    cursor: pointer;
    display: grid;
    align-content: center; /*the line in the burger will now be in the middle of the circle*/
    display: none; /*wants to hide the burger when it is in the full screen. Only display it when the display size is reducing*/
}

.burger span {
    width: 4rem;
    height: 0.4rem;
    display: block;
    background-color: var(--color-bg2);
    margin: 1.2rem auto;
}

.burger.is-active span:nth-child(1) {
    transform: translateY(0.8rem) rotate(-45deg);
   
}
.burger.is-active span:nth-child(2) {
    transform: translateY(-0.8rem) rotate(45deg);
   
}

/*Main*/
#content-wrapper {  /*this is two separate the content in the main area and sidebar, to ensure it won't overlap on eachother.*/
    padding-left: 35rem;
    
}


/*this will diplay back the burger when window is resized to smaller*/
@media screen and (max-width:992px){
    .burger {
        display: grid;
    }
    #sidebar {
        left: -35rem; /*orginally we gave 24rem but since we want it hide or move to left side. so, -24rem*/
    }
    #sidebar.is-active{
        left: 0; /*when we click on the burger the sidebar should appear*/
    }
    #content-wrapper {
        padding-left: 0;
        
    }
    
}

/*Home*/
#home {
    background: url('../img/s1.JPG');
    background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
#home .cta {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 1.6rem;
   
}

#home p {   /*this for the para on the home page */
    max-width: 600px;
    margin-top: 2.4rem;
    margin-bottom: 3.4rem;
    text-align: justify;
}

/* Grid */
.grid {
    display: grid;
    gap: 2.4rem; /*it gives the space between the cards in the project section*/
}

.three-col-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
.two-col-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width:768px) {
    .three-col-grid {
        grid-template-columns: 1fr 1fr; /*responsive card, as the screen size reduces to 768px, it will fit the cards.*/
    }
    .two-col-grid {
        grid-template-columns: 1fr 1fr; /*responsive card, as the screen size reduces to 768px, it will fit the cards.*/
    }
}
@media screen and (max-width:576px) {
    .three-col-grid {
        grid-template-columns: 1fr; /*responsive card, as the screen size reduces to 768px, it will fit the cards.*/
    }
    .two-col-grid {
        grid-template-columns: 1fr; /*responsive card, as the screen size reduces to 768px, it will fit the cards.*/
    }
}


/*Intro*/
#Education {
    background: url('https://png.pngtree.com/background/20210711/original/pngtree-abstract-80s-trendy-geometric-background-neon-colors-picture-image_1157555.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#Proj {
    background: url('https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#WorkExp {
    background: url('../img/Designer.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
    
}
.intro {
    margin-bottom: 3.2rem;
    
}

.card {  /*Design the card*/
   display: flex;
   flex-direction: column;
   border-radius: var(--border-radius-lg);
   background-color: rgba(0, 0, 0, 0.482);
   cursor: pointer;
   overflow: hidden;
   margin-bottom: 10px;
   transition: max-height 0.4s ease;
   flex-wrap: wrap;
   width: 350px;
}

.card-padding {
    padding: 2rem 1.6rem;
    flex: 1;
}
.card-padding p {
    margin: 0;
}
.card-padding:hover {
    transform: translateY(-1rem);
}
.card img {
    border-top-right-radius: var(--border-radius-lg);
    border-top-left-radius: var(--border-radius-lg);
    height: 30vh;
}

.extra-content {
    display: none;
}

.read-more {
    color: rgb(225, 225, 237);
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}


.icon {
    width: 5.4rem;
    height: 4.4rem;
    font-size: 3.2rem;
    border-radius: var(--border-radius);
    background-color: rgba(255, 208, 0, 0.315);
    color: white;
    text-align: center;
    align-content: center;
    display: grid;
    margin-bottom: 1.8rem; /*it is the space between the icon and the text h2*/
    
}

#services .card p {
    margin-bottom: 0;
}

.card:hover {
    box-shadow: 0 0 0 0.3rem var(--color-brand);
    transform: translateY(-0.5rem);
}

/* form */
#contact {
    background: url('../img/Des.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#box1 {
    background-color: rgba(6, 6, 6, 0.574);
    border-radius: 10px;
    width: 100rem;
   
}

.form {
    display: grid;
    gap: 1.2rem;
    color: rgb(252, 246, 246);
}

.form-control {
    background-color: rgba(16, 18, 18, 0.39);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-bg2);
    padding: 1.4rem;
    font-size: 1.6rem;
    color: aliceblue;
}
.form-control::placeholder {
    color: rgba(248, 246, 246, 0.568);
}
.form-control:focus {
    outline: none;
    border-color: var(--color-brand);
}

footer {
    padding: 5rem 0;
    background-image: url('https://t4.ftcdn.net/jpg/02/50/95/91/360_F_250959105_KFS05K9HHels3cK6nZcID63s1sEjciGn.jpg');
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Education Details */
.card-row {
    display: flex;
    background-color: #1f1b1e5a;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.card-row:hover {
    transform: translateY(-10px); /* Move card up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
 }
.card-row img {
    width: 250px;
    height: auto;
    max-height: 200px;
    flex-shrink: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-content {
    padding: 20px;
    flex: 1;
    margin-top: 20px;
    
}

.extra-content1 {
    display: none;
}

.read-more1 { 
    cursor: pointer;
    color: aliceblue;
} 